<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parking</key>
	<dict>
		<key></key>
		<dict>
			<key>fillColour</key>
			<integer>4040416751</integer>
		</dict>
	</dict>
	<key>building</key>
	<dict>
		<key></key>
		<dict>
			<key>fillColour</key>
			<integer>4294344832</integer>
			<key>strokeColour</key>
			<integer>4293876057</integer>
			<key>lineWidth</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>covered</key>
	<dict>
		<key>yes</key>
		<dict>
			<key>strokeColour</key>
			<integer>4034953344</integer>
		</dict>
	</dict>
	<key>highway</key>
	<dict>
		<key></key>
		<dict>
			<key>strokeColour</key>
			<real>4286611584</real>
			<key>z</key>
			<integer>50</integer>
			<key>lineWidth</key>
			<integer>2</integer>
		</dict>
		<key>service</key>
		<dict>
			<key>lineWidth</key>
			<integer>3</integer>
		</dict>
		<key>footway</key>
		<dict/>
	</dict>
	<key>amenity</key>
	<dict>
		<key></key>
		<dict>
			<key>z</key>
			<integer>-90</integer>
		</dict>
		<key>university</key>
		<dict>
			<key>fillColour</key>
			<real>4294967295</real>
			<key>z</key>
			<integer>-99</integer>
		</dict>
	</dict>
	<key>landuse</key>
	<dict>
		<key>grass</key>
		<dict>
			<key>fillColour</key>
			<real>4040222415</real>
		</dict>
	</dict>
	<key>route</key>
	<dict>
		<key></key>
		<dict>
			<key>strokeColour</key>
			<real>4278237679</real>
			<key>lineWidth</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>natural</key>
	<dict>
		<key>wood</key>
		<dict>
			<key>fillColour</key>
			<real>4040222415</real>
		</dict>
	</dict>
</dict>
</plist>
