<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tags</key>
		<dict>
			<key>natural</key>
			<string>wood</string>
		</dict>
		<key>fillColour</key>
		<real>4040222415</real>
	</dict>
	<dict>
		<key>tags</key>
		<dict>
			<key>landuse</key>
			<string>grass</string>
		</dict>
		<key>fillColour</key>
		<real>4040222415</real>
	</dict>
	<dict>
		<key>strokeColour</key>
		<real>4278237679</real>
		<key>lineWidth</key>
		<integer>5</integer>
		<key>tags</key>
		<dict>
			<key>route</key>
			<string>yes</string>
		</dict>
		<key>z</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>lineWidth</key>
		<integer>1</integer>
		<key>strokeColour</key>
		<integer>4293876057</integer>
		<key>fillColour</key>
		<integer>4294344832</integer>
		<key>tags</key>
		<dict>
			<key>building</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>strokeColour</key>
		<real>4293876057</real>
		<key>fillColour</key>
		<real>4294967295</real>
		<key>tags</key>
		<dict>
			<key>level</key>
			<string></string>
			<key>building</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>fillColour</key>
		<integer>4040416751</integer>
		<key>tags</key>
		<dict>
			<key>parking</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>z</key>
		<integer>-90</integer>
		<key>tags</key>
		<dict>
			<key>amenity</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>z</key>
		<integer>-99</integer>
		<key>fillColour</key>
		<real>4294967295</real>
		<key>tags</key>
		<dict>
			<key>amenity</key>
			<string>university</string>
		</dict>
	</dict>
	<dict>
		<key>lineWidth</key>
		<string>2</string>
		<key>z</key>
		<integer>50</integer>
		<key>strokeColour</key>
		<real>4286611584</real>
		<key>tags</key>
		<dict>
			<key>highway</key>
			<string></string>
		</dict>
	</dict>
</array>
</plist>
